.container {
    max-width: 1500px;
    margin: 30px auto;
    padding: 20px;
    font-family: sans-serif;
}

button {
    padding: 10px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #005ea2;
}
